// 测试scss格式化

.layout {
  position: relative;
  &.layout-main { //主体布局
    > .top {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      height: $top-height;
      background: $bg-top;
      z-index: 100;
      transition: background .5s ease-in-out;
      z-index:10000;
    }
    > .slide {
      position: fixed;
      display: block;
      left: 0;
      bottom: 0;
      top: $top-height;
      width: $slide-width;
      background: $bg-slide;
      box-shadow: 0 1px 1px $color-base6;
      z-index: 99;
      transition: all .5s ease-in-out;
    }
    > .mainWrapper {
      height: 100%;
      background: $bg-main;
      > .menu {
        position: absolute;
        display: block;
        right: 0;
        top: $top-height;
        left: $slide-width;
        height: $menu-height;
        line-height: $menu-height;
        padding-left: $main-padding;
        border-bottom: $menu-border;
        background-color: $color-base4;
        font-size: 16px;
        background: $color-base4;
        z-index: 98;
        > .item {
          display: inline-block;
          min-width: 118px;
          height: 100%;
          padding: 5px 10px 0;
          margin-top: 1px;
          text-align: center;
          &.active, &.linkActive {
            border-bottom: $menu-border-active;
            color: $brand-danger;
          }
        }
        & + .main {
          padding-top: $top-height + $menu-height + 20px;
        }
      }
      > .main {
        position: relative;
        display: block;
        height: 100%;
        margin-left: $slide-width;
        padding-left: $main-padding;
        padding-right: $main-padding;
        padding-top: $top-height + 20px;
        padding-bottom: 20px;
        min-width:1080px;
        @media screen and (max-height:914px){
          height:auto;
        }
      }
    }
  }
  &.layout-bd { //左侧固定布局
    $left-width: 120px !default;
    > .md {
      float: left;
      width: $left-width;
      margin-right: - $left-width;
    }
    > .mn {
      width: 100%;
      > .mnc {
        margin-left: $left-width;
      }
    }
  }
  &.layout-mask { //遮罩
    position: fixed;
    display: table;
    table-layout: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    .mn {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .mnc{
        position: relative;
        display: inline-block;
      }
    }
  }
  &.layout-table{
    display: table;
    width: 100%;
    table-layout: fixed;
    >.cell{
      display: table-cell;
      vertical-align: top;
    }
  }
}